body
{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: 100%;
}

main
{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 1000px;
	padding: 100px 20px;
	justify-self: center; 
}

.quote_block
{
	order: -1;
	overflow: visible;
	grid-template-rows: 205px;
}

.content_box
{
	display: grid;
	grid-template-columns: 330px auto;
	gap: 60px;
	grid-template-areas: "Col1 Col2";
}

.column_1
{
	grid-area: Col1;
}

.column_2
{
	grid-area: Col2;
}

.quote_block>p
{
	align-self: center;
}

.quote_image
{
	width: 330px;
}

.anime_block
{
	width: 1200px;
	position: relative;
	left: -120px;
}

.anime_block>div
{
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 20px;
}

.anime>img, .anime
{
	width: 285px;
}

.anime>img
{
	height: 400px;
}

.my_name+hr
{
	width: 60px;
	height: 6px;
	border-radius: 3px;
	background-color: #45c3aa;
	margin: 0;
	border: none;
}

.my_name
{
	font-size: 48px;
	line-height: 42px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 700;
}

.text
{
	font-size: 19px;
	line-height: 32px;
	color: #555555;
	font-family: "Georgia";
}

.header
{
	font-size: 36px;
	line-height: 42px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 400;
}

.vk_contact
{
	font-size: 19px;
	line-height: 32px;
	color: #15a98b;
	font-family: "Georgia";
	position: relative;
}

.vk_contact::after
{
	content: "→";
	display: block;
	position: absolute;
	top: -4px;
	right: -25px;
}

.my_taste
{
	padding-top: 125px;
}

.head_list
{
	font-size: 24px;
	line-height: 32px;
	color: #15a98c;
	font-family: "Open Sans";
	font-weight: 600;
}

.quote_block
{
	color: #000;
}

.quote_text
{
	font-size: 28px;
	font-family: Georgia, serif;
	font-style: italic;
}

.quote_text::before
{
	content: "";
}

.quote_author
{
	font-size: 16px;
	font-family: "Open Sans";
}

.quote_block>p>*
{
	display: block;
}

.anime>h3
{
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 22px;
	color: #333;
}

.anime>p
{
	font-family: Georgia, serif;
	font-size: 16px;
	color: #555;
}

.show_all_anime
{
	width: 220px;
	height: 50px;
	border-radius: 5px;
	background-color: #15a98c;
	color: #fff;
	border: none;
	grid-column: span 4;
	justify-self: center;
	font-size: 19px;
}

.show_all_anime:hover
{
	background-color: #098d71;
}

footer
{
	font-family: Georgia, serif;
	font-size: 16px;
	color: #555;
	width: 100%;
	text-align: center;
	background-color: #f5f5f5;
	line-height: 32px;
	vertical-align: middle;
}

nav
{
	position: fixed;
	width: 100%;
	display: grid;
	background-color: #fff;
	justify-content: center;
}

nav>div
{
	width: 1000px;
	display: grid;
	padding: 0 20px;
	box-sizing: border-box;
	grid-auto-flow: column;
	justify-content: left;
}

.item_menu>span
{
	font-family: Georgia, serif;
	font-size: 19px;
}

.item_menu
{
	padding: 14.5px;
	display: block;
	width: max-content;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

.item_menu:hover>img/*, .item_menu:active>img*/
{
	filter: brightness(4);
}

.item_menu:hover/*, .item_menu:active*/
{
	background-color: #15a98c;
	color: #fff;
}