body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

main
{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 1000px;
	padding: 100px 20px;
}

.quote_block
{
	order: -1;
	overflow: visible;
	grid-template-rows: 205px;
}

.content_box
{
	display: grid;
	grid-template-columns: 330px auto;
	gap: 60px;
	grid-template-areas: "Col1 Col2";
}

.column_1
{
	grid-area: Col1;
}

.column_2
{
	grid-area: Col2;
}

.quote_block>p
{
	align-self: center;
}

.quote_image
{
	width: 330px;
}

.anime_block
{
	width: 1200px;
	position: relative;
	left: -120px;
}

.anime_block>div
{
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 20px;
}

.anime>img, .anime
{
	width: 285px;
}

.anime>img
{
	height: 400px;
}

.my_name+hr
{
	width: 60px;
	height: 6px;
	border-radius: 3px;
	background-color: #45c3aa;
	margin: 0;
	border: none;
}

.my_name
{
	font-size: 48px;
	line-height: 42px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 700;
}

.text
{
	font-size: 19px;
	line-height: 32px;
	color: #555555;
	font-family: "Georgia";
}

.hobby_header
{
	font-size: 36px;
	line-height: 42px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 400;
}

.vk_contact
{
	font-size: 19px;
	line-height: 32px;
	color: #15a98b;
	font-family: "Georgia";
	position: relative;
}

.vk_contact::after
{
	content: "→";
	display: block;
	position: absolute;
	top: -4px;
	right: -25px;
}

.my_taste
{
	padding-top: 125px;
}

.head_list
{
	font-size: 24px;
	line-height: 32px;
	color: #15a98c;
	font-family: "Open Sans";
	font-weight: 600;
}